<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkVersion</key>
	<string>apis/index/vesion</string>
	<key>vipOrder</key>
	<string>Apis/cart/vipOrder</string>
	<key>vipGoods</key>
	<string>Apis/goods/vipGoods</string>
	<key>character</key>
	<string>Apis/shop/character</string>
	<key>nummenu</key>
	<string>apis/user/NumMenu</string>
	<key>shophead</key>
	<string>Apis/Shop/shopHead</string>
	<key>checkAddress</key>
	<string>Apis/User/checkAddress</string>
	<key>deleteOfflineOrder</key>
	<string>Apis/User/deleteOfflineOrder</string>
	<key>contacts</key>
	<string>Apis/User/contacts</string>
	<key>onlineorder</key>
	<string>Apis/Shop/order</string>
	<key>order_goods_offline</key>
	<string>Apis/User/order_goods_offline</string>
	<key>goodsCollect</key>
	<string>Apis/Goods/goodsCollect</string>
	<key>collect_shop</key>
	<string>Apis/Goods/collect_shop</string>
	<key>collectGoodslist</key>
	<string>Apis/Goods/collectGoodslist</string>
	<key>collectShoplist</key>
	<string>Apis/Goods/collectShoplist</string>
	<key>shopOrder</key>
	<string>Apis/Shop/shopOrder</string>
	<key>editshopinfo</key>
	<string>Apis/Shop/editShopInfo</string>
	<key>shopInfo</key>
	<string>Apis/Shop/shopInfo</string>
	<key>shippingKind</key>
	<string>Apis/User/shippingKind</string>
	<key>doShopPay</key>
	<string>Apis/Shop/doShopPay</string>
	<key>shopName</key>
	<string>Apis/Shop/shopName</string>
	<key>userPay</key>
	<string>Apis/Shop/userPay</string>
	<key>sales_return</key>
	<string>Apis/User/sales_return</string>
	<key>shopnum</key>
	<string>Apis/Shop/myShop</string>
	<key>shopreject</key>
	<string>Apis/Shop/reject</string>
	<key>shopinfo</key>
	<string>Apis/Shop/goShop</string>
	<key>openshop</key>
	<string>Apis/Shop/checkShop</string>
	<key>shopIndustry</key>
	<string>Apis/shop/shopIndustry</string>
	<key>checkpaycode</key>
	<string>Apis/user/getPay</string>
	<key>backOutRefund</key>
	<string>Apis/User/backOutRefund</string>
	<key>refundDetail</key>
	<string>Apis/User/refundDetail</string>
	<key>orderConfirm</key>
	<string>Apis/User/orderConfirm</string>
	<key>refund</key>
	<string>Apis/NewUser/refund</string>
	<key>usermyinfo</key>
	<string>Apis/User/userMyInfo</string>
	<key>deladdress</key>
	<string>Apis/User/delAddress</string>
	<key>arealist</key>
	<string>Apis/User/toPonyMy</string>
	<key>deleteOrder</key>
	<string>Apis/User/deleteOrder</string>
	<key>payCancel</key>
	<string>Apis/User/payCancel</string>
	<key>orderDetail</key>
	<string>Apis/NewUser/orderDetail</string>
	<key>forgetpwd</key>
	<string>Apis/User/forGetPassword</string>
	<key>changepwd</key>
	<string>Apis/User/doPassword</string>
	<key>approve</key>
	<string>Apis/User/approve</string>
	<key>pointbang</key>
	<string>Apis/Index/loveList</string>
	<key>paihangbang</key>
	<string>Apis/Index/onlineList</string>
	<key>forGetPassword</key>
	<string>Apis/User/forGetPassword</string>
	<key>recorddetail</key>
	<string>Apis/User/inPaymentlist</string>
	<key>recordlist</key>
	<string>Apis/User/inPayment</string>
	<key>buyCart</key>
	<string>Apis/NewCart/buyCart</string>
	<key>billdetail</key>
	<string>Apis/User/billList</string>
	<key>frozendetail</key>
	<string>Apis/User/freeze</string>
	<key>moneydetail</key>
	<string>Apis/User/motivate</string>
	<key>moneyleft</key>
	<string>Apis/User/myList</string>
	<key>cahsout</key>
	<string>Apis/User/withdrawal</string>
	<key>largepay</key>
	<string>Apis/User/largePayment</string>
	<key>cashdetail</key>
	<string>Apis/User/withdrawalDetail</string>
	<key>moneyPay</key>
	<string>Apis/Payment/moneyPay</string>
	<key>mywallet</key>
	<string>Apis/User/money</string>
	<key>pointdetail</key>
	<string>Apis/User/loveList</string>
	<key>mypoint</key>
	<string>Apis/User/love</string>
	<key>response</key>
	<string>apis/payment/response</string>
	<key>delbank</key>
	<string>Apis/User/delBank</string>
	<key>bindbankcard</key>
	<string>Apis/User/getBank</string>
	<key>bankinfo</key>
	<string>Apis/User/Bank</string>
	<key>bankrules</key>
	<string>/Mobile/GoodDetail/binding_rules</string>
	<key>changenickname</key>
	<string>Apis/User/editUsersInfo</string>
	<key>delCart</key>
	<string>Apis/Cart/delCart</string>
	<key>get_user_address_list</key>
	<string>Apis/User/ get_user_address_list</string>
	<key>buyNow</key>
	<string>Apis/NewCart/buyNow</string>
	<key>cList</key>
	<string>Apis/Cart/cList</string>
	<key>changmobile</key>
	<string>Apis/User/changeMobile</string>
	<key>userinfo</key>
	<string>Apis/User/usersInfo</string>
	<key>uploadimage</key>
	<string>Apis/User/updateUserImage</string>
	<key>ordergoods</key>
	<string>Apis/NewUser/order_goods</string>
	<key>addaddress</key>
	<string>Apis/User/add_address</string>
	<key>getaddress</key>
	<string>Apis/User/get_user_address_list</string>
	<key>addCart</key>
	<string>Apis/Cart/addCart</string>
	<key>goodsSpec</key>
	<string>Apis/Goods/goodsSpec</string>
	<key>createOrder</key>
	<string>Apis/User/payCancel</string>
	<key>qualityLoveThree</key>
	<string>Apis/Goods/qls</string>
	<key>categoryList</key>
	<string>Apis/Goods/categoryList</string>
	<key>searchshop</key>
	<string>Apis/Goods/searchshop</string>
	<key>index</key>
	<string>Mobile/GoodDetail/index</string>
	<key>likeGoods</key>
	<string>Apis/goods/likeGoods</string>
	<key>orderlist</key>
	<string>Apis/User/order_list</string>
	<key>message_detail</key>
	<string>Mobile/GoodDetail/message_detail</string>
	<key>search</key>
	<string>Apis/goods/search</string>
	<key>message</key>
	<string>Apis/User/message</string>
	<key>usernotice</key>
	<string>Apis/User/notice</string>
	<key>goods</key>
	<string>apis/goods/goods</string>
	<key>banner</key>
	<string>Apis/Goods/banner</string>
	<key>details</key>
	<string>Mobile/GoodDetail/details</string>
	<key>useragreement</key>
	<string>Mobile/GoodDetail/register</string>
	<key>notice</key>
	<string>Mobile/GoodDetail/notice</string>
	<key>doPassword</key>
	<string>Apis/User/doPassword</string>
	<key>do_login</key>
	<string>Apis/User/do_login</string>
	<key>reg</key>
	<string>Apis/User/reg</string>
	<key>sendValidate</key>
	<string>Apis/Common/send_validate_code</string>
	<key>quotaMoney</key>
	<string>Apis/user/quotaMoney</string>
	<key>newAdvertise</key>
	<string>Apis/user/Advertise</string>
	<key>sonAdvertise</key>
	<string>Apis/user/son_Advertise</string>
	<key>specialClassify</key>
	<string>Apis/user/specialClassify</string>
	<key>favourable</key>
	<string>apis/index/favourable</string>
	<key>favourableList</key>
	<string>apis/index/favourableList</string>
	<key>favourableType</key>
	<string>apis/index/favourableType</string>
	<key>consume_money</key>
	<string>Apis/User/consume_money</string>
	<key>pay_array</key>
	<string>Apis/Payment/pay_array</string>
</dict>
</plist>
